<div class="modal-content">
  <div class="modal-header eg-modal-header">
    <h3 class="modal-title pull-left">Previous REDACTED Found</h3>
  </div>
  <div class="modal-body">
    <p>A REDACTED already exists for REDACTED. REDACTED?</p>
    <div class="card">
      <h5 class="card-header">Existing REDACTED Details</h5>
      <div class="card-body mt-0">
        <div class="row">
          <b class="col-6">REDACTED Date:</b>
          <p class="col-6">5/13/2022</p>
        </div>
        <div class="row">
          <b class="col-6">REDACTED REDACTED:</b>
          <p class="col-6">50,000</p>
        </div>
        <div class="row">
          <b class="col-6">REDACTEDREDACTEDREDACTED:</b>
          <p class="col-6">REDACTED REDACTED in REDACTED</p>
        </div>
        <div class="row">
          <b class="col-6">REDACTED:</b>
          <p class="col-6">REDACTED</p>
        </div>
        <div class="row">
          <b class="col-6">REDACTED:</b>
          <p class="col-6">Marcie Cain</p>
        </div>
        <div class="row">
          <b class="col-6">REDACTED Address:</b>
          <p class="col-6">
            61 South Green Old Boulevard <br />
            Grand Rapids, UT 77515
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between modal-footer">
    <div>
      <button type="submit" class="btn btn-secondary form-content footer-button" (click)="closeDialog()">Back</button>
    </div>
    <div>
      <button type="submit" class="btn btn-secondary mr-2 form-content footer-button" (click)="closeDialog()">Create New</button>
      <button type="submit" class="btn btn-primary form-content footer-button" (click)="closeDialog()">Load Existing</button>
    </div>
  </div>
</div>

